*{
    padding: 0;
    margin: 0; 
}
.heading{
    text-align: center;
}
.menu-text{
    color: rgb(33, 57, 92);
    font-size: medium;
}
/* .menus{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
    /* margin: 30px 30px;
    background-color: antiquewhite; */
/* .heading h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
}
.menu-details {
    padding: 10px;
    margin: 25px;
}

.menu-img img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
}
.menu-text{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
}
 
.click button{
    padding: 15px;
    border: 1px solid rgb(250, 187, 71);
    border-radius: 50px;
    background-color: rgb(250, 187, 71);
    color: white;
    width: 70%;
}  */

