 
   <nav>  
        <div class="navigation"id="sticky">
            <div class="title">
                <a style="text-decoration:none" href="/"><h1 >SP Restaurant</h1></a>
            </div>
           
            <ul class="menu">
                
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="post/menu">Menus</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
                <li>
                    <a href="contact">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>